* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("images/home_background.jpg");
    background-size: cover;
    color: #2E3A59;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #2E3A59;
    font-weight: bold;
}

.btn {
    background: #2E3A59;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.text-content {
    max-width: 500px;
}

.text-content h1 {
    font-size: 48px;
}

.text-content h1 span {
    color: #2E3A59;
}

.text-content h2 {
    color: #64B6F7;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    font-size: 20px;
    margin-right: 10px;
    color: #2E3A59;
}

.image-content img {
    width: 400px;
}
